{% extends 'base.html' %}

{% block contents %}
<body>
  <div>
    <!--안겹치는 부분-->
    <br>
    {% for blog in blogs.all%}
    <div class="card" style="width: 60rem; margin-left: 2rem;">
        <div class="card-body">
            <h3 class="card-title">{{blog.title}}</h3>
            <p>날짜: {{blog.pub_date}}</p>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{%url 'detail' blog.id%}">...more</a>
            <br>
        </div>
    </div>
    <br>
    {%endfor%}
    <!--안겹치는 부분-->
  </div>
</body>
{% endblock %}